@media (max-width: 768px) {
    body {
        line-height: 1.25em;
    }    
    nav h1 a,
    .inside nav h1 a {
        font-size: 0.6em;
        letter-spacing: 6px;
    }
    #breadcrumb {
        padding: 10px 0; 
    }
    #menu {
        overflow: hidden;
        background-color: #333;
    }
    /* ====================== Sidebar Navigation ====================== */       
    #menuicon {        
        display: block;
        padding: 7px 9px;
        position: absolute;
        right: 0;
    }
    a#menuicon svg {
        width: 30px;
        fill:#000;
    }
    #sidebarmenulist {
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        z-index: 3;
        top: 100px;
        background-color: #252831;
        transition: cubic-bezier(0.22, 0.2, 0.03, 1) 0.35s;
        box-shadow: 0 15px 25px 2px rgba(0,0,0,0.15), 0 5px 30px 5px rgba(0,0,0,0.1), 0 8px 10px -5px rgba(0,0,0,0.25);
        width: 70%;
        max-width: 230px
    }    
    #sidebarmenulist li a {
        display: inline-block;
        fill: #fff;        
        box-shadow: 0 1px 0 #eceff338 inset;
        padding: 20px 12px 20px 0;        
        width: 100%;
    }
    /* ====================== Filter ====================== */
    .filter-options h2 {
        display: block;
    }

    #neighborhoods-select {
        margin-bottom: 6px;
    }

    .inside #maincontent {        
        grid-template-columns: auto;
        grid-template-rows: repeat(4, [row] auto);
        grid-template-areas:               
          "restaurant-photo-container"
          "restaurant-info"
          "map-container"
          "restaurant-hours-wrapper"
          "reviews-container";
        max-width: 960px;
        margin: 0 auto;
        /* padding: 10px; */
    }
    .inside #map-container {
        width: auto;       
    }
    .inside #map {
        height: 60vw;
    }

    .inside #restaurant-info,
    .inside #restaurant-photo-container,
    .inside #map-container,
    .inside #restaurant-hours-wrapper,
    .inside #reviews-container {
        margin: 13px;
    }
    
}

@media (min-width: 769px) {
    #restaurant-info {
        position: relative;
    }
    #restaurant-info div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        width: 85%;
    }
}

#restaurants-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    margin: 0 auto;
    max-width: 960px;
}
